body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f9fa;
}

.card {
    max-width: 400px;
    text-align: center;
}

.btn-buy {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.total-text {
    margin-top: 20px;
}

.container {
    position: absolute;
    top: 68px;
    left: 0px;
    width: 1440px;
    height: 732px;
    background: #FFFFFFFF; /* white */
    border-radius: 0px;
}

.logo {
    position: absolute;
    top: 12px;
    left: 24px;
    height: 44px;
    border-radius: 0px;
}

.button {
    position: absolute;
    top: 12px;
    left: 1245px;
    height: 44px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFFFF; /* white */
    background: #6D31EDFF; /* primary-500 */
    opacity: 1;
    border: none;
    border-radius: 4px; /* border-m */
    gap: 6px;
}
.button .icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFFFF; /* white */
}
/* Hover */
.button:hover {
    color: #FFFFFFFF; /* white */
    background: #5113D7FF; /* primary-600 */
}
/* Pressed */
.button:hover:active {
    color: #FFFFFFFF; /* white */
    background: #3F0EA6FF; /* primary-700 */
}
/* Disabled */
.button:disabled {
    opacity: 0.4;
}
